<div class="section section-full-screen section-signup" style="background-image: url('<%= image_url 'meter.jpg' %>'); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="card card-signup">
                    <form class="form" method="" action="">
                        <div class="header header-primary text-center">
                            <h4>Investigate a Developer</h4>
                            <div class="social-line">
                                <a href="https://github.com/amitsaxena/dev_stats" class="btn btn-simple btn-just-icon" target="_blank">
                                    <i class="fa fa-github"></i>
                                </a>
                                <a href="http://stackoverflow.com/users/762747/amit-saxena" class="btn btn-simple btn-just-icon" target="_blank">
                                    <i class="fa fa-stack-overflow"></i>
                                </a>
                                <a href="http://aawaara.com/" class="btn btn-simple btn-just-icon" target="_blank">
                                    <i class="fa fa-rss"></i>
                                </a>
                                <a href="http://twitter.com/amitsxena" class="btn btn-simple btn-just-icon" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                        <p class="text-divider">Enter usernames below</p>
                        <div class="content">

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-github"></i>
                                </span>
                                <div class="form-group is-empty"><input class="form-control" placeholder="Github Username" autocomplete="off" type="text"><span class="material-input"></span></div>
                            </div>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-stack-overflow"></i>
                                </span>
                                <div class="form-group is-empty"><input class="form-control" placeholder="Stackoverflow Username" autocomplete="off" type="text"><span class="material-input"></span></div>
                            </div>

                            <!-- If you want to add a checkbox to this form, uncomment this code

                            <div class="checkbox">
                                    <label>
                                            <input type="checkbox" name="optionsCheckboxes" checked>
                                            Subscribe to newsletter
                                    </label>
                            </div> -->
                        </div>
                        <div class="footer text-center">
                            <a href="#pablo" class="btn btn-simple btn-primary btn-lg">Investigate Now</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>